.list-book-input{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search  {
  background-color: #296D6D;
  border: none;
  color: white;
  padding: 10px 8px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: 300;
  margin: 1rem 1rem 1rem 0;
}

.signUp:hover {
  background-color: #296D6D;
  color: white;
  scale: 1.1;
} 

.searchInput {
  width: 100%;
  height: 4rem;
  font-size: var(--text-r);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #acb1b8;
  margin: 1rem 1rem 1rem 0;
}