#listings-component {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#listBookContainer {
  padding: 1rem 15%;
  background-color: #f9f9f9;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;

}



.list-text {
  font-size: var(--text-l);
  padding: 0.3rem;
}
@media screen and (max-width: 1000px) {
#listBookContainer {

  justify-content: center;
  align-items: center;

  
}
#listings-component {
  justify-content: center;
  align-items: center;
  margin: auto;
  
}
}