footer {
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
  text-align: center;
  color: #ffffff;
  font-size: var(--text-r);
  min-height: 15rem;
  z-index: 100;
}

.footer-container {
  position: relative;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5vw;
}

.company-details {
  margin-top: 22px;
  text-align: left;
}

.footer-branding {
  position: absolute;
  top: 0;
  margin-top: 1rem;
  left: calc((100% / 2) - 70px);
  justify-content: space-between;
}

.footer-logo {
  margin-top: 1rem;
  width: 140px;
  fill: var(--background);
}
.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}
.footer-social-icon {
  margin: 0 0.5vw;
  width: 25px;
  fill: var(--background);
  opacity: 0.5;
}
.footer-social-icon:hover {
  opacity: 1;
}
@media screen and (max-width: 600px) {
  footer .company-details {
    font-size: var(--text-s);
  }

  .footer-branding {
    margin-top: 10px;
  }

  .logo {
    scale: 0.75;
  }

  .footer-copyright {
    font-size: var(--text-s);
  }
}
