.aboutimg {
    height: 60vh;
    object-fit: cover;
    object-position: center;
   margin: auto;
   margin-bottom: 1vh;
 

}
#pagetitle{
  font-size: var(--text-xl);
  font-weight: bold;
  color: var(--secondary-color);
  justify-content: center;
  top: 2vh;
}
.about-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    
  }
  
  .about-text{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: var(--text-sr);
  }
  
  .about-container {
 
    width: 80vw;
    margin: auto;

  }

  .subStatement {
    color: var(--secondary-color);

  }
  .mainStatement {
    font-size: var(--text-xl);
    font-weight: bold;
    color: var(--secondary-color);
  }
  @media screen and (max-width: 1200px) {

    .about-info{
      display: flex;
      flex-direction: column;
    }
    .about-text{
      width: 100%;
      margin: auto;
      text-align: center;
      font-size: var(--text-sr);
    }
    #pagetitle {
      padding-top: 3vh;
    }
    

  }