#book-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#book-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60rem;
  max-width: 50rem;
  background-color: var(--background);
  padding: 0 1rem;
}

#book-cover {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#book-view img {
  width: 30rem;
  object-fit: cover;
}

#book-info {
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#book-view h1 {
  font-size: var(--text-xxl);
  margin-bottom: 1rem;
  word-wrap: wrap;
}

#book-view h2 {
  font-size: var(--text-xl);
  margin-bottom: 2rem;
}

#book-view h3 {
  font-size: var(--text-l);
}

#contact {
}

#book-view #book-view-close {
  width: 20rem;

  border: none;
  background-color: transparent;
  color: rgb(168, 0, 0);
  padding: 0.8rem 4rem;
  font-size: var(--text-r);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 0.5rem;
}

#book-view #book-view-close:hover {
  background-color: rgb(168, 0, 0);
  color: white;
}

#book-view span {
  font-size: var(--text-s);
  vertical-align: 0.2rem;
}

#book-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

#book-details h3 {
  font-size: var(--text-r);
}
