#book-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#book-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60rem;
  background-color: var(--background);
  padding: 0 1rem;
}

#book-cover {
  width: 100%;
  height: 100%;
}

#book-view img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#book-view h1 {
  font-size: var(--text-xxl);
  margin: 1rem;
}

#book-view h2 {
  font-size: var(--text-xl);

}

#book-view h3 {
  font-size: var(--text-l);
}

#contact {

}

#book-view #book-view-close {
  width: 20rem;
  
  border: none;
  background-color: transparent;
  color: rgb(168, 0, 0);
  padding: 0.8rem 4rem;
  font-size: var(--text-r);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 0.5rem;
}

#book-view #book-view-close:hover {
  background-color: rgb(168, 0, 0);
  color: white;
}