.books-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.books-grid-browse {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
 
.searchInputBrowse {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: var(--text-s);
  width:30vw;

}
.searchInputBrowse:focus {
  outline: none;
  border: 1px solid rgb(190, 190, 190);
}


.searchButton  {

  background-color: var(--secondary-color);

  border: none;
  color: white;
  padding: 10px 32px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-size: var(--text-s);
  margin: 2px 2px;
  cursor: pointer;
  font-weight: 600;
}

#books h1 {
  font-size: var(--text-xl);
  margin-bottom: 2rem;
}

