#home {
  padding: 0;
}

.home-container {

}
.hero {
  position: relative; /* Add this line to make .hero a positioned element */
  width: 100%;
  height: 60vh;
  object-fit: cover;
  z-index: -1;
}


@media screen and (max-width: 600px) {
   
}
.animate-pop-in {
  animation: slide-in-left .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  transform: translateX(-100%);
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.header-title {
  animation-delay: 0.8s;
 
  margin-left: 2vw;
  position: absolute; /* Add this line to position #popin */
  top: 25%; /* Adjust the top value based on your desired vertical position */
  left: 10%; /* Adjust the left value based on your desired horizontal position */
}

.header-subtitle {
  animation-delay: 1.2s;
 
  margin-left: 4vw;
  position: absolute; /* Add this line to position #popin */
  top: 35%; /* Adjust the top value based on your desired vertical position */
  left: 15%; /* Adjust the left value based on your desired horizontal position */
}
.header-subtitle2 {
  animation-delay: 1.6s;

  margin-left: 6vw;
  position: absolute; /* Add this line to position #popin */
  top: 45%; /* Adjust the top value based on your desired vertical position */
  left: 30%; /* Adjust the left value based on your desired horizontal position */
} 

#popin {
 
  transform: translate(-50%, -50%); /* Center #popin horizontally and vertically */
  background-color: var(--secondary-color-trans);
  height: 6vh;
  width: auto;
  padding: 0rem 2rem;
  border-radius: 6px;
  color: white;
  z-index: 1;
  font-size: var(--text-xl);
  justify-content: center;
  align-items: center;
}
#heroSignup {
  animation-delay: 1.6s;
  margin-left: 6vw;
  position: absolute; /* Add this line to position #popin */
  top: 65%; /* Adjust the top value based on your desired vertical position */
  left: 46%; /* Adjust the left value based on your desired horizontal position */
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 0.6rem 4rem;
  border-radius: 0.3rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: var(--text-r);
  margin: 2px 5px;
  cursor: pointer;
  letter-spacing: 0.1rem;;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


.hero-sub {
  display: flex ;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  font-size: var(--text-r);
  margin: 2rem;


}
#subcontainer {
  width: 20vw;
  justify-content: center;
  align-items: center;
  margin:2rem 2rem;
  font-weight: 500;
}
.verticalLine {
  border-left: 1px solid #d8d8d8;
}
#subhead {
  font-size: var(--text-xl);
  font-weight: bold;
  color: var(--secondary-color);
}


@media screen and (max-width: 700px) {
  #popin {
    font-size: var(--text-r);
    padding: 0.5rem;
  }
  .hero-sub {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    font-size: var(--text-r);
    margin: auto;
   
  
  }
  #subcontainer {
    width: 70vw;
    justify-content: center;
    align-items: center;
    margin:2rem 2rem;
    
  }
  .header-title h1{

    font-size: var(--text-l);
    margin: auto;
  

  }
  
  .header-subtitle h1 {
 
    font-size: var(--text-l);
    margin: auto;

   
  }
  .header-subtitle2 h1{
    margin: auto;
    font-size: var(--text-l);
   
    
  }
  #heroSignup {
    display: flex;
    margin: auto;
    left:30%;
    top: 60%;

  }
}