#list-book {
  padding: 4rem 5rem;
  height: 100%;
}

.list-book-container {
  display: flex;
  justify-content: space-between;

  flex-direction: row;
  margin-left: 8%;
  
  gap: 5rem;
  flex: 0 0 0%;
  width: 50%;
}


@media screen and (max-width: 1000px) {

.listing-component{
  margin: auto  ;
  left: 50%;

}

  .list-book-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .listings-carousel-container {
    height: 100%;
    width: auto;
  }

.list-book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 10%;
}
}
.find-a-book-button {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-size: var(--text-r);
    cursor: pointer;
    font-weight: 600;
    transition: all 0.1s ease-in;
  }
  
  .find-a-book-button:hover {
    background-color: var(--main-color);
  }


.bolded {
  font-weight: bold;
  color: var(--secondary-color-trans);
}

.inner-text {
  font-size: var(--text-r);
}

.welcome-text {
  font-size: var(--text-xl);
}

.name-text {
  color: var(--secondary-color-trans);
}

.linebreak {
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
  width: 50vw;
  margin: auto;
  
}

