#listbook {
  height: 100%;
  margin: 4rem 10%;
}

#listbook-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
}

#listbook-container .column {
  flex: 1;
}

#listbook-container .column:first-child {
  flex: 2;
}

#dashboard-carousel {
  display: flex;
  flex-direction: column;
}

#dashboard-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#user-details {
  display: flex;
  gap: 5rem;
  align-items: center;
  margin: 2rem 0;
}

#user-image-container {
  border: 5px solid var(--secondary-color);
  border-radius: 50%;
}

#user-image {
  width: 22.5rem;
  border-radius: 50%;
}

#user-text {
  text-align: left;
  margin-bottom: 2rem;
}

#listbook-carousel-container {
  width: 100%;
  margin-bottom: 4rem;
}

#listbook-carousel-container h1 {
  margin-bottom: 2rem;
}

#listbook-listyourbook {
  display: flex;
  justify-content: flex-end;
  border-radius: 0.5rem;
}


.find-a-book-button2 {
    /* position: absolute;
    bottom: 2rem;
    right: 4rem; */
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-size: var(--text-r);
    cursor: pointer;
    font-weight: 600;
    transition: all 0.1s ease-in;
    margin-top: 2rem;
  }
  .find-a-book-button {
    /* position: absolute;
    bottom: 2rem;
    right: 4rem; */
    display: none;
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-size: var(--text-r);
    cursor: pointer;
    font-weight: 600;
    transition: all 0.1s ease-in;
    margin-top: 2rem;
    margin: 2rem ;
  }
  
  .list-a-book-button {
    /* position: absolute;
    bottom: 2rem;
    right: 4rem; */
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-size: var(--text-r);
    cursor: pointer;
    font-weight: 600;
    transition: all 0.1s ease-in;
  display: none;
    

  }
  
  .find-a-book-button2:hover {
    background-color: var(--main-color);
  }


.bolded {
  font-weight: bold;
  color: var(--secondary-color-trans);
}

.inner-text {
  font-size: var(--text-r);
  
}

.welcome-text {
  font-size: var(--text-xl);
}

.name-text {
  color: var(--secondary-color-trans);
}

.linebreak {
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
  width: 50vw;
  margin: auto;
  
}






@media screen and (max-width: 1000px) {

  #listbook {
    margin: 4rem 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #listbook-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #dashboard-carousel {
    align-items: center;

  }

  #dashboard-container {
    width: 400px;
  }

  #user-details {
    flex-direction: column;
    align-items: center;
  }

  #user-text {
    text-align: center;
  }

  #user-image {
    width: 20rem;
    border-radius: 50%;
  }
  .list-a-book-button {
    display: flex;
    justify-self: center;
    margin: auto;
    align-self: center;
    margin-top: 2rem;
    width: auto;
  }
}
  

@media screen and (max-width: 1300px) {
  #user-details {
    align-items: center;
  }
  .inner-text {
    font-size: var(--text-sr);
    text-align: start;
    
  }
  .welcome-text {
    font-size: var(--text-l);
    text-align: start;
  }
  #dashboard-container {
    flex-direction: column;
  }
  #user-image {
    width: 25.5rem;
    border-radius: 50%;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .find-a-book-button2 {
    display: none;
  }
  .find-a-book-button {
   display: flex;
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-size: var(--text-r);
    cursor: pointer;
    font-weight: 600;
    transition: all 0.1s ease-in;
    margin-top: 2rem;
    margin: 2rem ;
  }
}
