
.overall-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  flex: 0 0 120%;
} 

#list-book {
  padding: 4rem 5rem;
  height: 100%;
}

.list-book-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 5rem;
  flex: 0 0 100%;
  width: 50%;
}

.listings-carousel-container {
  width: 100%;
  overflow: hidden;
  background: #fff;
  z-index: 1;
}

.user-info-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
  flex: 0 0 50%;
  
}

.User-image {
  /* the magic */
  display: block;
  width: 180px;
  height: 180px;
  overflow: hidden;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  -ms-border-radius: 180px;
  -o-border-radius: 180px;
  border-radius: 180px;
  /* the rest */
  position: relative; /* for the overlay later */
  margin: 0px auto;
  text-align: center;
  margin-bottom: 10px;
  border: 3px solid #296D6D;
  -webkit-box-shadow: 0px 1px 2px #296D6D,inset 0px 3px 8px #296D6D;
  -moz-box-shadow: 0px 1px 2px #296D6D,inset 0px 3px 8px #296D6D;
  box-shadow: 0px 1px 2px #296D6D,inset 0px 3px 8px #296D6D;
}

@media screen and (max-width: 1000px) {
  .list-book-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .listings-carousel-container {
    height: 100%;
    width: auto;
  }
}


/* justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

* {
  margin: 0;
  padding: 0;
}
.box-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  list-style-type: none;
}
.boxa {
  background: red;
  flex: 0 0 100%;
  width: 50%;
}
.boxb {
  background: orange;
  order: 2
}
.boxc {
  background: lightgreen;
}
.boxb,
.boxc {
  flex: 0 0 50%;
  width: 50%;
} */