.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

  /* Hide the vertical scroll bar */
  ::-webkit-scrollbar {
    width: 0em;
  }

  /* 
  Everything below header and above footer now enclosed in this div.
  Padding top ensures every page and component sits below the 
  Header at all screen sizes.   
  */
#content {
  padding-top: 11rem;
  flex: 1;
}

@media screen and (max-width: 600px) {
  #content {
    padding-top: 8rem;
  }
}

