.App {
  text-align: center;
}

  /* Hide the vertical scroll bar */
  ::-webkit-scrollbar {
    width: 0em;
  }



  /* Content area */
  .content {
    height: 300px;
    overflow-y: scroll;
  }
  .pages {
    padding-top: 1vh;
  }
