/*======================== FONTS ========================*/

@import url('./assets/fonts/fonts.css');


/*==================== CSS VARIABLES ====================*/

:root {

  /* Global Colours */

  --main-color: #DE9E36;

  --secondary-color: #296D6D;
  --secondary-color-trans: #296d6da9;
  --background-color: #f9f9f9;
  --text-color: #222222;
  --close-color: #ee3232;

  /* Global Font Sizes */

  font-size: 62.5%;

  --text-xxl: 3.8rem;
  --text-xl: 2.4rem;
  --text-l: 2rem;
  --text-r: 1.6rem;
  --text-sr: 1.4rem;
  --text-s: 1.2rem;
  --text-xs:1rem;

  /* Global Margins */

  --margin-top: 1.6rem;
  --margin-left: 1rem;
  --margin-right: 1rem;
  --margin-bottom: 1.6rem;
  --margin: 1rem 5vw;

  /* Global Padding */

  --padding-left: 5vw;
  --padding-right: 5vw;
  --padding-top: 2vw;
  --padding: 1rem 5vw;

}


/*========================== BASE =======================*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'SulphurPoint', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

section {
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}