header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--background);
  min-height: 11rem;
  z-index: 100;
}

.header-container {
  width: 100%;
}

.menu-toggle {
  display: none;
}

.userIcon {
  display: none;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 14rem;
}

.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu.open::before {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  
}
.menu.open {
  top: 11rem;
}

.login  {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 0.8rem 4rem;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.login:hover {
  background-color: var(--main-color);
  color: white;
  scale: 1.1;
}

.signup {
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  padding: 10px 32px;
  text-decoration: underline;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  scale: 1;
  text-decoration: underline;
}

.signup:hover {
  background-color: transparent;
  color: rgb(41, 41, 41);
  scale: 1.1;
  text-decoration: underline;
}

#navbutton {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 0.6rem 4rem;
  border-radius: 0.3rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: var(--text-r);
  margin: 2px 5px;
  cursor: pointer;
  letter-spacing: 0.1rem;;
}

#navbutton:hover  {
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
  scale: 1.1;
}



@media screen and (max-width: 600px) {

  header {
    min-height: 8rem;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    background-color: var(--background);
  }

  header .header-top {
    margin-left: 3rem;
    padding: 1rem 0;
  }
  

  .header-bottom {
    background-color: transparent;
    margin-right: 3rem;
  }

  .login {
    display: none;
  }

  .userIcon {
      display: flex;
  }

  .signup {
      display: none;
  }

  .navbar {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    justify-content:  space-evenly;
  }

  .menu-toggle {
    display: flex; 
    flex-direction: column;

  }

  .navbar ul {
    display: none;
  }

  .navbar ul.open {
    display: flex;
    flex-direction: column;
  }

  li {
    list-style: none;
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 3px;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
  }

  .menu.open {
    position: absolute;
    background-color: var(--main-color);
    height: auto;
    right: 0;
    top: 10rem;
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  .navbar.open .menu-toggle .bar:first-child {
    transform: translateX(-6px) rotate(45deg) translate(10px, 2px);
    top: 2px;
  }

  .navbar.open .menu-toggle .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar.open .menu-toggle .bar:last-child {
    transform: translateX(-5px) rotate(-45deg) translate(10px, -4px);
  }

  .userIcon {
    height: 2.7rem;
    width: 2.7rem;
    margin-right: 4rem;
  }

  .menuBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .menu {
    background-color: none;
  }

}