.menu-toggle {
  display: none;
}
.userIcon {
  display: none;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 0 5vw 0 5vw;
  
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FFBE26;
  list-style: none;
  height: 30%;

}

@media screen and (max-width: 600px) {
.login {
   display: none;
}
.userIcon {
    display: flex;
}
.signup {
    display: none;
}

 .navbar {
   flex-direction: row;
   align-items: flex-start;
   display: flex;
   justify-content:  space-evenly;
 }

 .menu-toggle {
    display: flex; 
    flex-direction: column;

}

.navbar ul {
    display: none;
}

.navbar ul.open {
    display: flex;
    flex-direction: column;
}
li {
    list-style: none;
}

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #232e3d;
    margin: 3px;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
  }

  .menu.open {
    background-color: #ffffff;
    height: auto;
    margin-top: -10px;
  }

  .navbar.open .menu-toggle .bar:first-child {
    transform: rotate(45deg) translate(10px, 2px);
    top: 2px;
  }

  .navbar.open .menu-toggle .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar.open .menu-toggle .bar:last-child {
    transform: rotate(-45deg) translate(11px, -2px);
  }
  .userIcon {
   height: 5vw;
    width: auto;
  }
 .menuBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2vw;
 }
 .header-container {
  display: flex;
  flex-direction: row;
 }
 .menu {
  background-color: none;
 }

}

.login  {
  background-color: #FFBE26;
  border: none;
  color: white;
  padding: 10px 32px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 2px 5px;
  cursor: pointer;
}
.login:hover {
  background-color: #FFBE26;
  color: white;
  scale: 1.1;
}
.signup {
  background-color: transparent;
  border: none;
  color: rgb(41, 41, 41);
  padding: 10px 32px;
  text-decoration: underline;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 2px 5px;
  cursor: pointer;
}

#navbutton {
  background-color: #FFBE26;
  border: none;
  color: white;
  padding: 10px 32px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 2px 5px;
  cursor: pointer;
}