#book {
  box-sizing: border-box;
  position: relative;
}

#book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#like-heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  z-index: 1;
  scale: 1.2;
  cursor: pointer;
  background-color: transparent;
}
#like-heart:hover {
  z-index: 1;
  scale: 1.3;
  cursor: pointer;
}

.heart-pink path {
  fill: var(--close-color);
  stroke: var(--background);
}

#book-cover {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

#book-title {
  font-size: var(--text-r);
  font-weight: bold;
}

#book-author {
  font-size: var(--text-r);
 
}

#book-distance {
  font-size: var(--text-r);
  font-weight: bold;
  opacity: 0.6;
}

/* #book-distance span {
  color: var(--secondary-color);
  font-weight: bold;
} */

@media screen and (max-width: 600px) {
}
