#book {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#book-cover {
  width: 150px;
}

#book-title {
  font-size:var(--text-r);
  font-weight: bold;
  margin: 0.5rem 0;
}

#book-author {
  font-size:var(--text-s);
  margin: 0.5rem 0;
}